@import "tailwindcss";

@theme {
  --color-brand-primary: #24292f;
  --color-brand-secondary: #0969da;
  --color-brand-bg: #f6f8fa;
  --color-brand-border: #d0d7de;
}

:root {
  font-family: Inter, system-ui, sans-serif;
  background-color: white;
  color: #1f2328;
}

body {
  margin: 0;
  background-color: var(--color-brand-bg);
  color: #1f2328;
}

@layer base {
  * {
    @apply border-brand-border;
  }
}
